* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0 auto;
}

/* common style */
.btn-primary {
    padding: 18px 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    background: #F15B22;
    border-radius: 5px;
}

/* header styles */
.header {
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    text-align: right;
    margin: 0;
    padding: 100px 200px;
}

.header-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

.header-info {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.header-content {
    width: 500px;
    padding-left: 500px;
    margin: 0;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* my failures section styles */
.my-failures {
    display: flex;
    padding: 70px 0px;
}

.person {
    max-width: 70%;
    height: 70%;
}

.section-content {
    padding: 70px;
    margin-top: 170px;
    text-align: left;
    width: 500px;
}

.section-title {
    color: #151414;
    font-size: 40px;
    font-size: 40px;
}

.section-info {
    color: #444343;
    font-size: 16px;
    line-height: 26px;
}

.list-info>li {
    list-style: none;
    margin: 0;
}

.list-info {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.list-info i {
    margin: 0 20px 0px -35px;
    color: #16D887;
}

/* my plans styles */
.my-plans-container {
    display: flex;
}

.my-plans-title {
    color: #151414;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.plans-card {
    margin: 0 auto;
    text-align: center;
    justify-items: center;
    padding: 0px 30px 0px 30px;
}

.plans-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.plans-info {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    margin: -20px 0px 100px 0px;
}

/* positive minds section */
.positive-mind{
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1)),url('../images/watch.png');
    padding: 30px;
    opacity: 0.5;
}
.positive-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.call-btn {
    padding: 18px 30px;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    background: #fff;
    border-radius: 5px;
}